.alphabet-container {
    display: flex;
    gap: .5rem;
}

.alphabet-container .letter {
    background: transparent;
    border: none;
    outline: none;
    font-family: 'SamuraiBlast', sans-serif;
    font-size: 2em;
    color: #FFFF99;
    cursor: pointer;
	text-shadow: 2px 2px 5px #005000;
}

.letter:disabled {
    cursor: not-allowed;
    opacity: .5;
}
